<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error" monitorInterval="0">
	<appenders>
		<Console name="DebugConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5level %-6relative %d{HH:mm:ss.SSS} %thread - %-40msg %l%n" />
		</Console>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5level %-6relative %d{HH:mm:ss.SSS} %thread - %-40msg %l%n" />
		</Console>
		<RollingRandomAccessFile name="logfile"
			fileName="target/log/test.log" append="false" immediateFlush="false"
			filePattern="target/log/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %class{36} %L - %msg%xEx%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</appenders>
	<loggers>
		<Logger name="net.lb.sql" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</loggers>
</configuration>
